/* Connexion */
.form_item {
  max-width: 60rem;
  margin: 10rem auto;
  background-color: rgb(240, 233, 233);
  padding: 1rem;
}

.form_item > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form_item label {
  margin: 1rem 0;
}

form input,
form button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
  font-weight: bold;
  color: rgb(212, 17, 17);
}
